
html {
  height: 100%;
  scroll-padding-top: calc(4.5rem - 1px);
}


.page-section {
  padding: 8rem 0;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75) !important;
}

/* main page */
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("./annie-spratt-sggw4-qDD54-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.masthead p {
      font-size: 1.15rem;
    }
    header.masthead h1, header.masthead .h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.masthead h1, header.masthead .h1 {
      font-size: 3.5rem;
    }
  }
  
  /* about */
  #about{
    background-color: #f0d994;
    color: #5e420d;
  }

  .card-bg{
    background-color: #5e420d;
    color: white;
  }
  .text-white {
    color: #f0d994 !important;
  }

#contact {
  background-color: #2b2106 !important;
  color: rgb(39, 37, 37);

}