body {
    background-image: url(./annie-spratt-sggw4-qDD54-unsplash.jpg);
    background-color: rgba(0, 0, 0, 0.548);
    background-size: cover;
    }
    .log{
        /* From https://css.glass */
    background: rgba(14, 14, 14, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
    margin-top: 25px;
    }
   