.nav-color
{
    background-color: #3b1919;
}
.nav-l{
    margin-top: 3px;
}

.nav-head{
    
    color: beige;
    font-size: xx-large;
    font-weight: 500;
}
.navbar a{
    text-decoration: none !important;
}